// Harriet Font. Futura font is being used via typekit
@font-face {
  font-family: 'Harriet Display';
  src: url("../fonts/HarrietDisplay-Black.woff2") format("woff2"), url("../fonts/HarrietDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

// SASS Variables

$retroColour: #E1DACD;
$retroYellow: #E1D028;
$yellow: #f5ed2d;
$blue: #24A9DA;
$pink: #EB008B;
$futura: "futura-pt", "Trebuchet MS", Arial, sans-serif;
$harriet: 'Harriet Display', Times;



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $harriet;
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bodyText {
  font-family: $futura;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

p{
    font-family: $futura;
    font-weight: 400;
}

ul {
	list-style-type: none;
}

hr{
    border: none;
    height: 2px;
    background-color: #000000;
    margin: 20px 0;
}

::-webkit-scrollbar {
    background-color: $retroColour;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(#000000, 0.10);
}

::-webkit-scrollbar-thumb {
    background: rgba(#ffffff, 0.9);
    border-radius: 10px;
}

// ==========================================
// FLEX GRID
// ==========================================
.flex-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 2em 0;
}

.flex-col{
    flex: 1;
    padding: .5em;
    margin-bottom: .5em;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;

    h2{
        font-family: $harriet;
        font-size: 3em;
        margin-bottom: 0.3em;
    }

    h3{
        display: none;
    }

    img{
        width: 220px;
    }
}

.flex-btm{
    margin-bottom: 0;
}

.lrg-row{
    padding: 4.5em 0;
}

// ==========================================
// TEXT STYLES
// ==========================================

a{
    color: inherit;
    text-decoration: none;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 1.2em;
	margin-bottom: 8px;
	font-weight: 400;
}

.homepage-block div h3{
    font-size: 2em;
    font-weight: 800;
}

.shadow {
	// text-shadow: 6px 6px 25px rgba(#000000, 0.12);
}

.subheader {
	font-size: 0.8em;
    margin-top: 10px;
	font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.3px;
}

.fab:hover {
	opacity: 0.5;
}

// ==========================================
// NAVIGATION
// ==========================================

.btn{
    padding: .6em 0;
    border-radius: 6px;
    margin-top: 1em;
    display: inline-block;
    font-family: $futura;
    position: relative;

    img{
        width: 45px !important;
        margin-left: 10px;
    }
}

.content-btn{
    // border: 1px solid #000000;
}

.btn:hover{
    cursor: pointer;
}

.mobile-navigation{
    height: 80px;
    width: 100%;
    padding: 10px 20px;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .fas{
        font-size: 20px;
        color: #fff;
    }

    .logo-wrapper{
        position: relative;
        width: 90px;

        img{
            width: 100%;
        }
    }
}

.mobile-menu-wrapper {
    font-family: $futura;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000000, 0.96);
    text-align: right;
    color: white;
    z-index: 100;

    .mobile-menu{
        margin-top: 90px;
        font-size: 1em;
        letter-spacing: .2em;
    }

    li{
        margin-bottom:15px;
        padding-right: 30px;
    }

    #close-menu{
        color: #ffffff;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 35px;
        padding: 30px 30px 0 0;

    }
}

.light-contrast{
    color: #000 !important;
}

.navigation {
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 1;
	pointer-events: none;
}

.logo{
    position: fixed;
    left: 0;
    top: 0;
    padding: 50px 0 0 50px;
    width: 180px;
    cursor: pointer;
    pointer-events: all;
    z-index: 3;

    &:hover{
        opacity: 0.5;
    }
}

#second-nav{
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(#000000, 0.10);

    .open-menu{
        font-size: 20px;
        color: #000000;
    }

    .logo-wrapper{
        position: relative;
        width: 70px;

        img{
            width: 100%;
        }
    }
}

.scroll-buttons {
	align-self: center;
	padding-right: 50px;
	pointer-events: all;
	li{
		width: 10px;
		height: 10px;
		border-radius: 100%;
		margin-bottom: 10px;
		background-color: white;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}
	}
}

.scroll-icon{
    height: 80px;
    width: 100%;
    position: absolute !important;
    bottom: 0;
    padding: 10px 10px 30px 10px;
    display: block;

    img{
        height: 100%
    }
}

span.link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.fas{
    transition-duration: 200ms;
}

.link-hover-arrow{
    opacity: 0;
    margin-left: -10px;
    transition-duration: 200ms;
}

#tag-logo-mobile{
    width: 60px;
}

.active-page{
    font-weight: 800 !important;

    .hover-bar{
        width: 100% !important;
    }
}

.close{
    color: #fff;
}

// ==========================================
// LAYOUT
// ==========================================

.master-container{
    padding-top: 5em;
    position: relative;
}

.fixed {
	position: fixed;
}

// ==========================================
// HOMEPAGE
// ==========================================

.pink{
    background-color: $pink;
    color: #fff;
}

.yellow{
    background-color: $yellow;
}

.blue{
    background-color: $blue;
    color: #fff;
}

.white{
    background-color: #fff;
}

.homepage-block{
	text-align: center;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;

	div {
		position: relative;
	}
}

.homepage-block-child{
    width: 90%;
    margin: auto;
}

.landing{
	background-color: #121212;
	color: white;
	position: relative;

	.icons{
		margin-bottom: 10px;

		img{
			width: 60px;
			height: auto;
		}
	}
}

.form-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.contact-title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    h3{
        font-size: 2em;
        color: #fff;
        font-weight: 600;
        border-bottom: 1px solid $yellow;
        display: inline-block;
        padding-bottom: 10px;
    }
}

.form-section{
    width: 100%;
    font-family: $futura;
    font-weight: 300;
}

.contact-form{
    width: 70%;
    margin: auto;
    text-align: center;
}

.form-section{
    width: 100%;
    margin-bottom: 30px;

    p{
        color: white;
        font-size: 0.9em;
        text-align: left;
    }

    input[type=text],input[type=email]{
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(#ffffff, 0.4);
        padding-bottom: 10px;
        color: #fff;

        &::placeholder{
            letter-spacing: 2px;
            font-size: 12px;
            color: #fff;
            opacity: 0.8;
            transition-duration: 300ms;
        }

        &:focus{
            transition-duration: 50ms;
            outline: none;
            border-color: #fff;

            &:focus{
                border-color: $yellow;
            }

            &::placeholder{
                opacity: 0.3;
            }
        }
    }
}

.submit{
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.9em;
    border: none;
    width: 100%;
}

.popup{
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
    position:fixed;
    display: none;
    z-index: 20;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.97);
}

.popup-close{
    color: #000;
    font-size: 1em;
    margin: 20px 20px 0 0;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    transition: ease 300ms;
    cursor: pointer;
}

.homepage{
    .social-icons {
        position: absolute;
        bottom: 0;
    	padding: 0 0 50px 50px;
    	font-size: 1.2em;
    	pointer-events: all;
    	cursor: pointer;
        color: #fff;
        transition-duration: 300ms;

    	&.light-contrast {
    		color: #000;
    	}

    	i{
    		margin-right: 20px;
    	}
    }
}

// ==========================================
// CONTENT PAGES
// ==========================================

.light-section{
    color: white;

    .btn{
        border-color: #ffffff;
    }
}

// ==========================================
// FOOTER
// ==========================================


footer{

    background-color: #ececec;
    padding-bottom: 2em;

    .footer-container{
        width: 80%;
        margin: auto;
    }

    .flex-btm{
        justify-content: space-between;
    }

    .contact-block{
        background-color: #fff;
        padding-bottom: 2.8em;

        h4{
            font-size: 1.8em;
            margin-bottom: 0.3em;
        }

        p{
            font-size: 0.7em;
            letter-spacing: 0.2em;
            font-weight: 600;
        }
    }

    ul{
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    li{
        font-family: $futura;
        font-weight: 600;
        font-size: 0.9em;
    }

    .social-icons {
        width: 160px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    	font-size: 1.2em;
        transition-duration: 300ms;
        margin-top: 1em;
    }
}

// ==========================================
// HIDDEN TABLET/DESKTOP ELEMENTS
// ==========================================
.navigation, .pagination, .desktop-form, .nav-container{
    display: none;
}

// ==========================================
// RESPONSIVE STYLES
// ==========================================

@media only screen and (min-width: 500px){

    .page-block-content h3{
        font-size: 1.7em;
        padding: 10px 30px;
    }
}

@media only screen and (min-width: 600px){


    // .scroll-icon, .mobile-navigation{
    //     display: none;
    // }

    .navigation{
        display: block;
    }

    // LARGE SCREEN STYLES START HERE

    h2{
        font-size: 6.2em;
    }

    .subheader{
        letter-spacing: 1.9px;
        font-size: 1.3em;
    }

    .landing{
        h3{
            font-size: 1.8em;
        }

        .icons img{
            width: 80px;
        }
    }

    .pagination {
        display: block;
    	position:fixed;
    	top:0;
    	bottom:0;
    	right:20px;
    	height:150px;
    	margin:auto;
    	font-size:1.2em;
    	z-index: 10;
        text-align: right;
    	a{
    		display:block;
    		width:100px;
    		height:22px;
    		border-radius:50%;
    		color:#fff;

    		&.light-contrast {
    			color:#000
    		}

    		position:relative;
    		padding:4px;

    		&.active:after {
    			background:#000;
    			width:10px;
    			height:10px;
    			right:4px;

    		}
    		&.active.dark-contrast:after {
    			border: 1px white solid;
    			width: 9px;
    			height: 9px;
    		}

    		.hover-text {
    			position:absolute;
    			right:20px;
    			font-size: 0.8em;
    			opacity:0;
    			-webkit-transition: opacity 0.5s ease;
    			transition: opacity 0.5s ease;
    		}

    		&:hover .hover-text {
    			opacity: 1;
    		}

    		&:after {
    			width:10px;
    			height:10px;

    			display: block;
    			background:#fff;
    			border-radius:50%;
    			content:'';
    			position: absolute;
    			margin:auto;
    			top:0;
    			bottom:0;
    			right: 4px;
    		}

    		&.light-contrast:after {
    			border: 1px black solid;
    			width: 9px;
    			height: 9px;
    		}
    	}
    }

    .mouse-icon{
        width: 20px;
        margin-top: 15px;
    }


    .submit{
        letter-spacing: 4px;
        font-size: 1em;
        border: none;
        width: 100%;
        margin: auto;
        max-width: 600px;
    }
}

@media only screen and (max-height: 500px) and (min-width: 300px){

    .navigation, .pagination{
        display: none;
    }

    .mobile-navigation{
        display: flex;
    }

    h2{
        font-size: 3em;
    }

    h3{
        font-size: 1em;
    }


    .mobile-menu-wrapper .mobile-menu{
        font-size: 20px;
    }

}

@media only screen and (min-width: 700px) {

    .mobile-menu-wrapper .mobile-menu{
        font-size: 30px;
    }

}

@media only screen and (min-width: 809px){

    .mobile-navigation{
        display: none;
    }

    .flex-row{
        flex-direction: row-reverse;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }

    .flex-col{
        flex: 0;
        width: 50%;
        margin: 0;

        p{
            line-height: 1.7em;
        }
    }

    .how-section{

        h2{
            font-size: 5em;
            margin-bottom: 0.1em;
        }

        h3{
            font-family: $futura;
            font-size: 1em;
            margin-bottom: 1em;
            letter-spacing: 0.2em;
            display: block;
        }

        img{
            width: 350px;
        }

    }

    .lrg-row{
        padding: 7em 0;

        img{
            width: 500px;
        }
    }

    .sml-row{
        .info{
            width: 600px;
        }

        h3{
            display: none;
        }
    }

    .left-align{
        text-align: left;
    }

    .right-align{
        text-align: right;
    }

    .info{
        width: 400px;

    }

    .reverse{
        flex-direction: row;
    }

    .nav-container{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        padding: 2em 4em;
        z-index: 20;
        box-shadow: 0 1px 2px rgba(#000000, 0.14);

        .logo-wrapper{
            width: 100px;

            img{
                width: 100%;
            }
        }

        li{
            display: inline-block;
            position: relative;
            padding-bottom: 0.5em;
            font-family: $futura;
            font-weight: 600;
            margin: 0 1em;

        }
    }

    .nav-content{
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
        max-width: 1300px;
    }

    .hover-bar{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $yellow;
        height: 3px;
        width: 0;
        transition: ease 300ms;
    }

    footer{

        .footer-container{
            max-width: 1300px;
        }

        .footer-nav{
            li{
                margin: 0 1em;
            }
        }

        .contact-block{
            height: 350px;
            width: 100%;

            h4{
                font-size: 3em;
            }

            p{
                font-size: 1em;
                font-weight: 400;
            }
        }
    }


}

@media only screen and (min-width: 1024px){

    .desktop-form{
        display: block;
    }

    h2{
        font-size: 8em;
    }

    .popup-overlay{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        background-color: rgba(#000000, 0.83);
        z-index: 11;
        align-items: center;
        justify-content: center;

        .fa-times{
            width: 80%;
            font-size: 20px;
            padding: 30px 30px 0 0;
        }
    }

    .popup-content-wrapper{
        width: 80%;
        height: 80%;
    }

    .popup-content{
        margin: 0 auto;
        margin-top: 60px;
        width: 80%;

        h2{
            font-size: 80px;
        }
    }

    .homepage-block div h3{
        font-size: 5em;
    }

    .form-container{
        max-width: 1800px;
        align-items: center;
    }

    .contact-title{
        width: 50%;
        text-align: center;
        padding-bottom: 40px;

        h3{
            font-size: 4em;
            border-bottom: 2px solid $yellow;
            display: inline-block;
            padding-bottom: 20px;
        }
    }

    .contact-form{
        width: 50%;
        padding: 0 80px;
    }

    .form-section{
        margin-bottom: 40px;

        p{
            font-size: 0.9em;
        }

        input[type=text],input[type=email]{

            font-size: 1.3em;

            &::placeholder{
                letter-spacing: 4px;
                font-size: 17px;
            }
        }
    }

    .submit-btn{
        background-color: none;
        border: 2px solid #fff;
        color: #fff;
        position: relative;
        transition-duration: 500ms;

        &:hover{
            border-color: $yellow;
        }

        span{
            position: absolute;
            transition: ease 500ms;
            width: 0%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: $yellow;
        }
    }

    .submit{
        position: relative;
        letter-spacing: 8px;
        font-size: 1.2em;
        font-weight: 600;
        background-color: transparent;
        color: #fff;

        &:hover{
            cursor: pointer;
            color: #000;
        }

    }

    .popup-close{
        margin: 40px 40px 0 0;
        width: 35px;
        height: 35px;
        font-size: 1.2em;
        background-color: transparent;
        color: $yellow;
        border: 2px solid $yellow;

        &:hover{
            background-color: $yellow;
            color: #000;
            transform: rotate(90deg);
        }
    }
}

@media only screen and (min-width: 1400px){

    .logo{
        width: 190px;
    }

    h2{
        font-size: 9.5em;
    }

    .subheader{
        font-size: 1.5em;
        letter-spacing: 5px;
    }

    .landing{
        h3{
            font-size: 2.6em;
        }

        .icons img{
            width: 100px;
        }
    }

    .social-icons{
        font-size: 1.7em;
    }

}


@media only screen and (min-width: 1700px){

    .homepage-block div h3{
        font-size: 6em;
    }
}

@media only screen and (min-width: 1800px){

    .popup-close{
        margin: 80px 80px 0 0;
    }
}

@media only screen and (min-width: 2000px){

    .logo{
        width: 210px;
    }

    h2{
        font-size: 15em;
    }

    .subheader{
        font-size: 2.7em;
        letter-spacing: 7px;
    }
}
